@import "../../../styles/variables";

md-toolbar {
  position: fixed;
  top: 0;
  z-index: 999999999;
  min-height: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.nav {
  display: none;

  @media only screen and (min-width : $screen-sm-min) {
    display: flex;
  }
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;

  &-nav {
    display: none;

    @media only screen and (min-width : $screen-sm-min) {
      display: flex;
    }
  }
}

a md-icon {
  color: #fff;
}
