<md-toolbar color="primary">
  <span class="logo">PhotoSteem</span>
  <span class="spacer"></span>
  <button (click)="openDialog()" md-button>
    <md-icon class="example-icon">home</md-icon>
  </button>
  <button (click)="openDialog()" md-button>
    <md-icon class="example-icon">new_releases</md-icon>
  </button>
  <button (click)="openDialog()" md-button>
    <md-icon class="example-icon">equalizer</md-icon>
  </button>
  <button (click)="openDialog()" md-button>
    <md-icon class="example-icon">call_made</md-icon>
  </button>
  <button (click)="openDialog()" md-button>
    <md-icon class="example-icon">call_merge</md-icon>
  </button>
  <button (click)="openDialog()" md-button>
    <md-icon class="example-icon">add</md-icon>
  </button>
  <span class="spacer"></span>
  <a (click)="openDialog()">
    <md-icon class="icon">account_circle</md-icon>
  </a>
</md-toolbar>
