<md-toolbar color="primary">
  <span class="logo">PhotoSteem</span>
  <span class="spacer spacer-nav"></span>
  <div class="nav">
    <button (click)="openDialog()" md-button>
      <md-icon class="example-icon">home</md-icon>
    </button>
    <button (click)="openDialog()" md-button>
      <md-icon class="example-icon">new_releases</md-icon>
    </button>
    <button (click)="openDialog()" md-button>
      <md-icon class="example-icon">equalizer</md-icon>
    </button>
    <button (click)="openDialog()" md-button>
      <md-icon class="example-icon">call_made</md-icon>
    </button>
    <button (click)="openDialog()" md-button>
      <md-icon class="example-icon">call_merge</md-icon>
    </button>
    <button (click)="openDialog()" md-button>
      <md-icon class="example-icon">add</md-icon>
    </button>
  </div>
  <span class="spacer"></span>
  <a (click)="auth()" *ngIf="!user">
    <md-icon class="icon user-icon">account_circle</md-icon>
  </a>
  <a *ngIf="user && user.avatar" md-card-avatar class="avatar" [mdMenuTriggerFor]="menu" (click)="trackProfileClick()">
    <img [defaultImage]="'/assets/img-loader.gif'" [lazyLoad]="user.avatar" alt="">
  </a>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="auth()">
      <span>logout</span>
    </button>
  </md-menu>
</md-toolbar>
