@import "../../../styles/variables";

md-toolbar {
  position: fixed;
  top: 0;
  min-height: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 1;

  button {
    &.active {
      border-top: 1px solid white;
    }
  }
}

.nav {
  display: none;

  @media only screen and (min-width : $screen-sm-min) {
    display: flex;
  }
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;

  &-nav {
    display: none;

    @media only screen and (min-width : $screen-sm-min) {
      display: flex;
    }
  }
}

md-menu {
  z-index: 2;
}

a {
  cursor: pointer;
}

a md-icon {
  padding: 0;
  margin: 0;
  color: #fff;
}

.avatar img {
  width: 34px;
  height: 34px;
}

.user-icon {
  font-size: 34px;
}
