<md-card *ngIf="post">
  <md-card-header>
    <div *ngIf="post.author && post.author.avatar" md-card-avatar class="avatar">
      <img [lazyLoad]="post.author.avatar" alt="">
    </div>
    <md-card-title>{{post.title}}</md-card-title>
    <md-card-subtitle *ngIf="post.author">{{post.author.name}}</md-card-subtitle>
  </md-card-header>
  <div class="content-image-container">
    <md-chip color="primary">{{post.value}}$</md-chip>
    <a target="_blank" href="https://steemit.com{{post.url}}">
      <img class="content-image" border="0" md-card-image [lazyLoad]="post.imageUrls[0]">
    </a>
    <md-card-actions>
      <a (click)="openDialog()" class="repeat" md-mini-fab><md-icon class="icon">repeat</md-icon></a>
      <span class="spacer"></span>
      <a (click)="openDialog()" class="love" md-mini-fab><md-icon class="icon">favorite_border</md-icon></a>
    </md-card-actions>
  </div>
  <md-card-content>
    <p>
      <a (click)="openDialog()" *ngFor="let tag of post.tags">#{{tag}}</a>
    </p>
  </md-card-content>
</md-card>
