<md-card *ngIf="post">
  <md-card-header>
    <div *ngIf="post.author && post.author.avatar" md-card-avatar class="avatar">
      <img [lazyLoad]="post.author.avatar" alt="">
    </div>
    <md-card-title>{{post.title}}</md-card-title>
    <md-card-subtitle *ngIf="post.author">{{post.author.name}}</md-card-subtitle>
  </md-card-header>
  <div class="content-image-container">
    <a target="_blank" href="https://steemit.com{{post.url}}">
      <img class="content-image" border="0" md-card-image [lazyLoad]="post.imageUrls[0]">
    </a>
    <!--<md-card-actions>-->
      <!--<button md-button><md-icon class="icon">thumb_up</md-icon></button>-->
      <!--<button md-button><md-icon class="icon">thumb_down</md-icon></button>-->
    <!--</md-card-actions>-->
  </div>
  <md-card-content>
    <p [innerHtml]="post.body"></p>
  </md-card-content>
</md-card>
