.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/U5dtZjaPMLaSrSPSR1ha4WkyisZpJ81_120x120?AWSAccessKeyId=ASIAIRGZLRZE4TNPLQVA&Expires=1488431355&Signature=RlYVwDcdYTHXV2bagEnck5oYvwI%3D&x-amz-security-token=FQoDYXdzEIb%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDH6IjZQgzOQJZyI6BiK3A9HWSwKd8%2FTOeJVQg76UD8%2FQ322GKn1MPAgOXY7NbTO7oDKnOugFyY2Gz736LizPtMtMe74U%2BBMCndUpnBtjo2XAEZf0eIp%2FPg2m7YDjY8JVlJ3x47ME0MtFuSB6PNzso73IhJKhJNI9aU2UluXKte2Ztasxbbl02xIMHnokzAIM2s8HxsqqyLt4pWTPeaaPthxWgaKoQ%2Btk%2BP%2FoyhXj832cVt6ML30VH2XHN%2FZ2%2FzUL86KTChjkeKZ8JO%2B05HnghSphq8ahm8EsaIeCQIlrB6UAIRea3L310JNktsOFEEpvdJFeinYMII7HLlUJT%2F%2FJIR5DSEh3YJqSD33PLSa0JW%2BI1hAS4XMMQzTGwqzXgn%2FAUOPW%2BidT0n7Dr0hnZEKM1EM75x8npHy2eN0Br7aS%2FTyakQ6yEm4FlKXFGVahu7u6sQZDqi7%2Bp9vt50ohCTiq8vLdLYIg09oYnYxUIILrCQROZyM9ZgSJR%2BKN89LR1yGaLhHKUROhAzmMO3fMDAVcLEVdKy99zSKwuVMykTscqYW%2BB1w0eH%2BFkRu%2FqyiP8zYJ8FS7JFvPuU8Ty0Rryd59mqQUG0uUf0gooL%2FexQU%3D');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

md-card {
  margin: 20px 0;
}

md-card-content p {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
