@import "../../../styles/variables";

md-card {
  margin: 20px auto;
  padding: 0;
  box-shadow: 0 1px 1px -2px rgba(0,0,0,.2), 0 0px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  &:nth-child(1) {
    margin-top: 0;
  }
}

md-card-header {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px 20px;

  md-card-title {
    width: 265px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    padding-top: 3px;

    @media only screen and (min-width : $screen-sm-min) {
      width: 545px;
    }
  }

  md-card-subtitle {
    margin-bottom: 0;
    font-size: 13px;
  }
}

md-card-content {
  padding: 5px 20px 10px 10px;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    padding: 0 5px 0 0;
    font-size: 12px;
    color: #2196f3;
  }
}

.content-image-container{
  position: relative;
  min-height: 100px;

  .content-image {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('assets/img-loader.gif');
    transition: opacity 1s ease;
    opacity: 0.5;
  }

  .content-image.ng2-lazyloaded {
    background-image: none;
    height: auto;
    opacity: 1;
  }

  md-chip {
    position: absolute;
    opacity: 0.75;
    right: 0;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
  }
}

.mat-card-image:first-child {
  margin-top: 0;
}

md-card-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  .spacer {
    flex: 1 1 auto;
  }

  a {
    opacity: 0.75;

    &.repeat {
      margin-left: 20px;
    }

    &.love {
      margin-right: 20px;
    }
  }
}
