.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

md-card {
  margin: 20px 0;
}

md-card-content p {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
