body {
  margin: 0;
  padding: 0;
}

.avatar {
  img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.alert-container {
  position: fixed;
  z-index: 999999999999999999;
  width: 280px;
  min-width: 280px !important;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
