@import "../../styles/variables";

section {
  width: 100%;
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width : $screen-sm-min) {
    width: 650px;
  }
}
